<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Online Editor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <!-- CodeMirror -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />
    <!-- Firepad -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
    <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>

    <style>
      body{
        background: linear-gradient(to left, #dae2f8, #d6a4a4);
      }
      #firepad{
         height: 400px;
         display: none;
         overflow: hidden;
      }
      a.powered-by-firepad {
        visibility: hidden;
      }
      .CodeMirror-widget > span{
        position: absolute;
        border: 1px solid black;
        border-radius: 3px;
        color: white;
        background-color: black;
        font-size: 10px;
        font-weight: 200;
        margin-top : -9px;
        margin-left : 20px;
        visibility: visible;
      }
      .offline{
        display:none;
      }
      .online{
        display: inline;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-light">
          <a class="navbar-brand" href="#">Alliance Editor</a> 
          <a href="/logout"><img src="logout.svg"></a>    
      </nav>
    </div>
    <br><br><br>
    <div class="container">
      <div class="row">
       <div class="col l6 m6 s12">
         <input type="text" class="form-control" placeholder="Document Name" autocomplete="off">
       </div>
       <div class="col l6 m6 s12">
           <button class="btn btn-info">Open File</button> 
           <button class="btn btn-info">Create File</button>
           <button class="btn btn-info" disabled>Save File</button>   
       </div>
    </div>
    </div>
    <br>
    <div class="container-fluid">
      <div class="row">
         <div class="col col-sm-12 col-md-8 col-lg-9">
            <div id="firepad" name="<%=fname%>" uid="<%=id%>">
            </div>
         </div>
         <div class="col col-sm-12 col-md-4 col-lg-3">
           <br>
            <div class="card sbg-white border-info rounded" style="overflow: hidden; height:250px;" class="offline">
                <div class="card-header text-center">Users</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush" id="users"  style="padding-left: 10px;">
                    </ul>
                </div>
            </div>
         </div>
      </div>   
    </div>
    <br>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/socket-editor.js" type="text/javascript"></script>
    <script src="/firepad.js"></script>
  </body>
</html>